*.[oa]
*.fcgi
*~
Makefile
doc/html
build
.idea

# Files made by autogen.sh.
Makefile.in
libtool
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/src/.deps/
fcgi/libfcgi/.deps/
.vscode/c_cpp_properties.json
.vscode/settings.json
src/updateServer.sh
updateServer.sh
